<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>BLog</title>
</head>
<body>
    <%- include('./partials/nav')%>
    <div class="container mt-3">
        <img src=<%= locals.blog %> alt="...">
        <h1><%= locals.blog.title %></h1>
        <p><%= locals.blog.bodyContent %></p>

    </div>
    <%- include('./partials/script')%>
</body>
</html>