<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head')%>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/nav')%>
    <div class="mt-4 container d-flex flex-wrap">
        <% locals.blogs.forEach(blog => { %>
            <div class="card mb-3 ml-3 "  style="width: 18rem;">
                <img src=<%= blog.coverImageUrl %> class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <p class="card-text"><%= blog.bodyContent %></p>
                  <a href= "/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                </div>
              </div>
        <% }) %>
    </div>

    <%- include('./partials/script')%>
</body>
</html>